:root{
    --bodyColor: #F3F5FC;
    --azulMarino: #0A3871;
    --azulMarinoLight: #0f52a3;
    --azulMarinoClick: #4c6bf4;
    --azulBlanco: #D8DFE8;

    --blanco: #FFFFFF;
    --font: 'Rubik', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5% /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    background-color: var(--bodyColor);

    font-size: 1.6rem;
    line-height: 2;
    
}

p {
    margin: 0;
}

.contenedor {
    max-width: 125rem;
    width: 90%;
    margin: 0 auto;
}

.contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo {
    margin: 4rem 0 0 4rem;
}


.entrada-datos {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mensaje textarea{
    font: var(--font);
    font-size: 1.8rem;
}

.mensaje__label{
    color: var(--azulMarino);
    font-size: 3rem;
}


.mensaje__campo {
    display: block;
    background-color: var(--bodyColor);
    border: none;
    width: 80rem;
    height: 20rem;
    resize: none;
    
}

.mensaje_salida {
    display: block;
    background-color: var(--blanco);
    border: var(--azulBlanco);
    width: 38.6rem;
    height: 30.4rem;
    resize: none;
    text-align: justify;
    outline: none;

    font-family: var(--font);
    font-size: 1.8rem;
    color: var(--azulMarinoLight);
}

.mensaje__campo:focus{
    outline: none;
}


.salida-datos {
    background-color: var(--blanco);
    padding: 0rem 1.5rem 0rem 1.5rem;
    margin: -7rem -15rem 0 15rem;
    
    border-radius: 15px;
    
    -webkit-box-shadow: 5px 5px 23px 7px rgba(0,0,0,0.13);
    -moz-box-shadow: 5px 5px 23px 7px rgba(0,0,0,0.13);
    box-shadow: 5px 5px 23px 7px rgba(0,0,0,0.13);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.encriptacion {
    display: flex;
    justify-content: center;
    margin: 10rem 0 5rem 0;
}

.salida-datos__texto {
    text-align: center;
    font-size: 1.8rem;
    padding: 5rem 0 20rem 0;
}

.salida-datos__titulo{
    font-weight: 700;
}

.salida-datos__parrafo {
    font-size: 1.6rem;
}


/* Botones */
.botones{
    align-self: center;
    margin-bottom: 5rem;  
}

.botones p{
    font-weight: 400;
    margin-left: 1.5rem;
}

.boton{
    padding: 2rem 10rem;
    margin: 0 1rem;
    border-radius: 1rem;
    border: none;
    font-family: var(--font);
    
}

.boton-azul{
    background-color: var(--azulMarino);
    color: var(--blanco);
}
.boton-azul:hover{cursor: pointer; background-color: var(--azulMarinoLight); color: var(--blanco)}.boton-azul:active{background-color: var(--azulMarinoClick);}

.boton-blanco{
    background-color: var(--azulBlanco);
    color: var(--azulMarino);
    border: 1px var(--azulMarino) solid;
}.boton-blanco:hover{cursor: pointer; background-color: var(--azulMarinoLight); color: var(--blanco)}.boton-blanco:active{background-color: var(--azulMarinoClick);}
/* endBotones */

